.accordion{
	width:350px;
	margin:0 auto;
	border-radius:3px;
	box-shadow: 0px 1px 1px 0px #aeaeae;
}
.accordion .panel{
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* W3C */
}
.accordion .panel:first-child{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.accordion .panel:last-child{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.accordion .panel.current:last-child{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.accordion .panel .handle{
	font-family:Helvetica, Arial, sans-serif;
	font-weight:900;
	font-size:14px;
	color:#666;
	padding:10px 15px;
	text-decoration:none;
	text-shadow: 1px 1px #fefefe;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#eaeaea 100%); /* W3C */
	border-top: solid 1px #f3f3f3;
	border-bottom: solid 1px #e3e3e3;
}
.accordion .panel:first-child .handle{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.accordion .panel:last-child .handle{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.accordion .panel.current:last-child .handle{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.accordion .panel p{
	margin:10px 15px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:14px;
	color:#777;
	text-shadow: 1px 1px #fefefe;
}